apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  annotations: {{ item.annotations }}
  finalizers:
  - kubernetes.io/pvc-protection
  name: {{ item.pvc_name }}
  namespace: {{ item.pvc_namespace }}
spec:
  accessModes: {{ item.access_modes }}
  resources:
    requests:
      storage: {{ item.capacity }}
  storageClassName: {{ mig_storage_class_mapping[item.storage_class] }}
  volumeMode: Filesystem