apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  finalizers:
  - kubernetes.io/pvc-protection
  name: "{{ item.pvc_name }}"
  namespace: "{{ item.pvc_namespace }}"
spec:
  accessModes: {{ item.access_modes | to_yaml }}
  resources:
    requests:
      storage: "{{ item.capacity }}"
  storageClassName: "{{ item.storage_class }}"
  volumeMode: Filesystem
