# Destination cluster 'transfer pod' image and resource limits
transfer_pod_image: "quay.io/konveyor/ssh-transfer:latest"
transfer_pod_cpu_limits: '1'
transfer_pod_cpu_requests: '100m'
transfer_pod_mem_limits: '1Gi'
transfer_pod_mem_requests: '1Gi'

# Destination cluster 'transfer pod' SSH auth info
mig_dest_ssh_user: root
mig_dest_ssh_public_key: ""  # path to public key to install as authorized user in transfer pod
mig_dest_ssh_private_key: "" # path to private key used for SSH auth into transfer pod

# Wait for transfer pod service ELB deletion to complete before proceeding to next PVC
wait_for_finalizer: false