apiVersion: v1
kind: Pod
metadata:
  name: ssh-rsync
  labels:
    app: ssh
spec:
  containers:
  - name: myapp-container
    image: ${IMG}
    ports:
    - containerPort: 22
      name: ssh
      protocol: TCP
    volumeMounts:
    - name: test-vol
      mountPath: /tmp
    securityContext:
      privileged: true
