apiVersion: v1
kind: Pod
metadata:
  name: {{ pod_name }}
  namespace: {{ pvc_namespace }}
  labels:
    app: {{ pod_name }}
spec:
  volumes:
{% for pvc in pvcs %}
  - name: {{ pvc.pvc_name }}
    persistentVolumeClaim:
      claimName: {{ pvc.pvc_name }}
{% endfor %}
  containers:
  - name: rsync
    imagePullPolicy: Always
    image: {{ transfer_pod_image }}
    ports:
    - containerPort: 2222
      name: ssh
      protocol: TCP
    volumeMounts:
{% for pvc in pvcs %}
    - mountPath: "/mnt/{{ pvc_namespace }}/{{ pvc.pvc_name }}"
      name: {{ pvc.pvc_name }}
{% endfor %}
    securityContext:
      privileged: true
      runAsUser: 0
    env:
    - name: SSH_PUBLIC_KEY
      value: "{{ ssh_public_key }}"
