apiVersion: v1
kind: Pod
metadata:
  name: {{ pod_name }}
  namespace: {{ pvc_namespace }}
  labels:
    app: {{ pod_name }}
spec:
  volumes:
  - name: {{ pvc_name }}
    persistentVolumeClaim:
      claimName: {{ pvc_name }}
#  - name: public-key
#    secret:
#      secretName: {{ secret_name }}
#      defaultMode: 0600
  containers:
  - name: myapp-container
    image: {{ transfer_pod_image }}
    ports:
    - containerPort: 22
      name: ssh
      protocol: TCP
    volumeMounts:
    - mountPath: "/mnt/{{ pvc_namespace }}/{{ pvc_name }}"
      name: {{ pvc_name }}
#    - mountPath: "/root/ssl/"
#      name: public-key
#      readOnly: true
    securityContext:
      privileged: true
