apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ rsyncd_config }}
  namespace: {{ pvc_namespace }}
  labels:
    app: {{ pod_name }}
    purpose: rsync
    owner: pvc-migrate
data:
  rsyncd.conf: |
    syslog facility = local7
    read only = no
    list = yes
    max = 3
    auth users = {{ mig_dest_ssh_user }}
    secrets file = /etc/rsyncd.secrets
    hosts allow = ::1
    uid = root
    gid = root


{% for pvc in pvcs %}
    [{{ pvc.pvc_name }}]
        comment = archive for {{ pvc.pvc_name }}
        path = /mnt/{{ pvc_namespace }}/{{ pvc.pvc_name }}
        uid =  root
        gid = root
        list = yes
        hosts allow = ::1
        auth users = {{ mig_dest_ssh_user }}
        secrets file = /etc/rsyncd.secrets
        read only = false
{% endfor %}
