apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ rsyncd_config }}"
  namespace: "{{ pvc_namespace }}"
  labels:
    app: "{{ pod_name }}"
    purpose: rsync
    owner: pvc-migrate
data:
  rsyncd.conf: |
    syslog facility = local7
    read only = no
    list = yes
    log file = /dev/stdout
    max verbosity = 4
    auth users = {{ mig_dest_ssh_user|string }}
    secrets file = /etc/rsyncd.secrets
    hosts allow = ::1, 127.0.0.1, localhost
    uid = root
    gid = root


{% for pvc in pvcs %}
    [{{ pvc.pvc_vol_safe_name|string }}]
        comment = archive for {{ pvc.pvc_vol_safe_name|string }}
        path = /mnt/{{ pvc_namespace|string }}/{{ pvc.pvc_vol_safe_name|string }}
        uid =  root
        gid = root
        list = yes
        hosts allow = ::1, 127.0.0.1, localhost
        auth users = {{ mig_dest_ssh_user|string }}
        secrets file = /etc/rsyncd.secrets
        read only = false
{% endfor %}
