apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ pod_name }}
    purpose: rsync
    owner: pvc-migrate
  name: {{ svc_name }}
  namespace: {{ pvc_namespace }}
spec:
  ports:
  - name: ssh
    port: 2222
    protocol: TCP
    targetPort: 2222
  selector:
    app: {{ pod_name }}
    purpose: rsync
    owner: pvc-migrate
  type: LoadBalancer
