apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ pod_name }}
  name: {{ svc_name }}
  namespace: {{ pvc_namespace }}
spec:
  ports:
  - name: ssh
    port: 22
    protocol: TCP
    targetPort: 22
  selector:
    app: {{ pod_name }}
  type: ClusterIP
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: {{ route_name }}
  namespace: {{ pvc_namespace }}
  labels:
    app: {{ pod_name }}
spec:
  to:
    kind: Service
    name: ssh
  port:
    targetPort: 2222
  tls:
    termination: passthrough